body {
  font-family: sans-serif;
}
body h1{
 color: #2B0448; 
 font-family: 'Courier New', Courier, monospace;
 text-align: center;
 font-size: 42px;
}
.otroContenedor {
  background-color: rgb(174, 127, 218);
  width: auto: 
  color: white;
  padding: 5px;
}
.containerFlex {
  background-color: rgb(174, 127, 218);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: 500px;
  color: white;
  padding: 5px;
}
.containerFlex div {
  width: 250px;
  height: 150px;
  padding: 40px;
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

}
.otroContenedor p {
  text-align: justify;
  color: white;
}
.otroContenedor .otroTexto{
  text-align: justify;
  color: #C70A80;
  font-style: italic;
}
.containerFlex .div1 {
  background-color: #37e2d5;
  border: 2px solid #1C7C74;

}
.containerFlex .div2 {
  background-color: #590696;
  border: 2px solid #2B0448;

}
.containerFlex .div3 {
  background-color: #c70a80;
  border: 2px solid #73084B;

}
.containerFlex .div4 {
  background-color: #fbcb0a;
  border: 2px solid #E4B00D;
}
